httpx
drissionpage
ddddocr
PySide6
tqdm
PySide6-Fluent-Widgets
numpy
mitmproxy
openpyxl
opencv-python
onnxruntime
# onnxruntime-gpu
pandas
loguru
imageio
shortuuid
psycopg[binary,pool]
# python-magic
filetype
